.character {
    position: absolute;
    font-family: monospace;
    color: green;
    white-space: pre;
}

.character.right pre {
    transform: scaleX(1);
}

.character.left pre {
    transform: scaleX(-1);
}

.character.up pre, .character.down pre {
    transform: scaleY(1);
}
